@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  font-family: Share Tech Mono,Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace;
  color: #000000DE;
}

html {
  /* overflow:hidden; */
  overflow-x: hidden;
  font-size: 16px !important;
  letter-spacing: -2px;
  /* display: grid; */
  height: 100%;
  width: 100%;
}

html body {
  background-color: #fef3e0;
}

html p {
  font-family: Share Tech Mono,Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace;
  color: #000000DE;
}

.button:hover {
  background-color: pink;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  color: rgba(0, 0, 0, 0.8);
}

.button:hover, .button:focus {
  -webkit-filter: grayscale(0.15) brightness(0.85) contrast(1.3);
          filter: grayscale(0.15) brightness(0.85) contrast(1.3);
}

#arc-header {
  background-color: #f76820;
  font-family: Share Tech Mono,Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 3;
  position: absolute;
}

#arc-header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#arc-header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#arc-header .header-right .settings-icon, #arc-header .header-right .user-icon {
  width: 50px;
}

#arc-header .header-right .settings-icon:hover, #arc-header .header-right .user-icon:hover {
  background-color: #de5d1d;
}

#arc-header .header-right .settings-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}

#arc-header .header-right .settings-icon #cog {
  font-size: larger;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#arc-header .header-right .settings-icon:hover {
  font-size: larger;
}

#arc-header .header-right .user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 50px;
  margin-right: 11px;
}

#arc-header .header-right .user-icon #ring {
  font-weight: 100;
  -webkit-text-stroke: 2px #f76820;
}

#arc-header .header-right .user-icon #ring:hover {
  -webkit-text-stroke: #de5d1d;
}

#arc-header .header-right .user-icon #avatar {
  font-size: x-large;
  font-weight: lighter;
}

#arc-header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 23px;
  max-height: 23px;
  min-width: 23px;
  min-height: 23px;
  margin: 0 3px 5px 14px;
}

#arc-header h1, #arc-header p, #arc-header i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #FEFEFE;
}

#arc-header h1 {
  font-weight: normal;
  font-size: 20px;
}

#arc-header .pipes {
  padding: 3px 10px 0 10px;
  font-size: 22px;
  font-weight: normal;
}

#arc-header p {
  font-weight: bold;
  font-size: medium;
  padding-top: 8px;
}

.banner {
  border: 0;
  margin-top: -2.1rem !important;
  margin-bottom: 2.1rem !important;
  padding: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}

.banner .gradient-overlay {
  position: relative;
  height: 100%;
  width: 40rem;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #000), to(transparent));
  background: linear-gradient(90deg, #000 0, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .gradient-overlay .overlay-content {
  color: #FEFEFE;
  max-width: 300px;
  margin: 0;
  padding-left: 60px;
}

.show-n-tell {
  position: relative;
  z-index: 1;
  background-color: red;
  width: 100%;
}

.content-row {
  width: 90%;
  margin-left: 10%;
}

.content-row .header-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-row .header-right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-row .content-header {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
  color: #000000DE;
}

.content-row .view-all-button {
  color: #f76820;
  font-size: 14px;
  font-weight: 100;
}

.img-cert {
  width: 150px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  font-size: 10.9px;
  color: #000000DE;
}

footer hr {
  border: 1.1px #fef3e0 solid;
}

footer .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  color: #000000DE;
  letter-spacing: -0.5px;
  border-left: 0.5px #cececf solid;
  padding-left: 8px;
  margin-left: 8px;
}

footer a i {
  color: #d34624;
  margin-right: 4px;
}

footer a:hover {
  color: #000000DE;
}

footer dfn {
  font-style: normal;
}

footer #leftest {
  border-left: 0px #919c9d solid;
  margin-left: 0px;
}
/*# sourceMappingURL=styles.css.map */