$orange: #f76820;
$orange-lowlight: #de5d1d;
$orange-dark: #f87633;
$orange-darkest: #d34624;
$white: #FEFEFE;
$yellow-light: #fef3e0;
$font-black: #000000DE;
$grey-black: #212121;
$purple: #AB2790;
$reddish: #ff0000;
$green: #2ecc71;
$blue-light: #038a9a;
$blue-lowlight: #058392;
$blue-dark: #006f7e;
$blue-dark-lowlight: #005e6c;
$grey-light: #ededed;
$grey-light-lowlight: #cececf;
$grey-dark: #b4b5b6 ;
$grey-dark-lowlight: #959698 ;
$grey-loading: #919c9d;
$grey-carousel: #e9eef2;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
 font-family: 
 Share Tech Mono,Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace ;
 color: $font-black;
}

html {
  /* overflow:hidden; */
  overflow-x: hidden;
  font-size:16px! important;
  letter-spacing: -2px;
  /* display: grid; */
  
  height:100%;
  width:100%;

  -webkit-overflow-scrolling: touch;


  p{
   font-family: Share Tech Mono,Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace ;
   color: $font-black;
  }

}

  body {
   background-color: $yellow-light;
   height: 100%;
   padding-bottom: 155px;
   // overflow: scroll; <!-- puts the scroll under the header -->
  }
 




.button {

 &:hover{
 background-color: pink;
 background-image: linear-gradient(transparent,rgba(0,0,0,.05));
 color: rgba(0,0,0,.8);

 // box-shadow: inset 0 0 0 1px rgb(34 36 38 / 15%), inset 0 -0.3em 0 0 rgb(34 36 38 / 15%);
 }

 &:hover, &:focus {
  filter: grayscale(.15) brightness(.85) contrast(1.3);
 }

}

#arc-header {
 background-color: $orange;
 font-family: Share Tech Mono,Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace ;
 display: flex;
 align-content: center;
 align-items: center;
 width: 100%;
 max-height: 45px;
 z-index: 3;
 position: absolute;
 
 h1, p, i  {
  align-self: center;
  color: $white;
 }

.header-left {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin-top: 4px;

 img {
  align-self: center;
  max-width: 23px;
  max-height:23px;
  min-width: 23px;
  min-height:23px;
  margin: 0 3px 5px 14px;
 }

 h1, p, i  {
  align-self: center;
  color: $white;
  font-family: Lato;
 }

 h1 {
  align-self: center;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: -1px;
  margin-top: 3px;
  opacity: 0.8;
 }

 .pipes {
  align-self: center;
  padding: 3px 10px 0 10px;
  margin-top: 6px;
  font-size: 22px;
  font-weight: lighter;
  -webkit-text-stroke: .5px $orange;
 }

 p {
  align-self: center;
  font-weight: bold;
  font-size: .9em;
  letter-spacing: 0px;
  margin-top: 4px;
  padding-top: 8px;
 }

}

.header-right {
 display: flex;
 flex-direction: row-reverse;
 align-content: center;
 justify-content: center;
 align-items: center;
 height: 100%;



 .settings-icon, .user-icon {
  width: 45px;
  // padding: 14px 2px 14px 2px;
  opacity: 0.9;
  
  &:hover {
   background-color: $orange-lowlight;
  }
 }

  .settings-icon {
   display: flex;
   justify-content: center;
   width: 50px;
   height: 46px;

   #cog {
    font-size: larger;
    align-self: center;
   }
   &:hover {
    font-size: larger;
   }
  }
 
 .user-icon {
  display: flex;
  justify-content: center;
  width: 65px;
  height: 46px;
  // margin-right: 11px;

  #ring {
   font-weight: 100;
   -webkit-text-stroke: 2px $orange;

   &:hover {
    -webkit-text-stroke:$orange-lowlight;
   }
  }

  #avatar {
   font-size: x-large;
   font-weight: lighter;
   // -webkit-text-stroke: 1px $orange;
  }
 }
 

}


 
}// end of #arc-header 

.banner {
 border:0;
 margin-top:-2.1rem !important;
 margin-bottom:2.1rem !important;
 padding:0;
 border-radius:0;
 background-repeat:no-repeat;
 background-size:cover;
 height:200px;

 .gradient-overlay{
  position: relative;
    height: 100%;
    width: 40rem;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#000 0,transparent);

    display: flex;
    align-items: center;

    .overlay-content {
     
     p{
      color: white;
      letter-spacing: 0.5px;
     }

     color: $white;
     max-width: 300px;
     margin: 0;
     padding-left: 60px;

    }
 }
}

.show-n-tell {
 position:relative;
 margin-top: 43px !important;
 z-index: 1;
 background-color: red;
 width: 100%;
}

.main-content {
 height: 100%;
}

.button {
 cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: middle;
    background: #f8f8f8 linear-gradient(transparent,rgba(0,0,0,.05));
    color: rgba(0,0,0,.6);
    font-family: Share Tech Mono,Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace;
    margin: 0 .25em 0 0;
    padding: .8em 2em .95em;
    // padding: .8em .8em .95em;
    text-transform: none;
    text-shadow: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .2em;
    user-select: none;
    transition: opacity .1s ease,background-color .1s ease,box-shadow .1s ease,color .1s ease,background .1s ease;



 -webkit-appearance: button;
 -webkit-tap-highlight-color: transparent;
 &:hover {
  box-shadow: inset 0 0 0 1px rgb(34 36 38 / 15%), inset 0 -0.3em 0 0 rgb(34 36 38 / 15%);
 }
 
}



.content-row {
 width: 90%;
 margin-left: 40px;
 // this might ^ be the footer's problem in max-w 670px mode
 margin-bottom: 30px;;


 .header-left{
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
 }

 .header-right{
   justify-content: space-between;
 }

 .content-header {
    margin: 0;
    padding-left: 40px;
    // this might ^ be the footer's problem in max-w 670px mode
    font-size: 20px;
    color: $font-black;
 }

 .view-all-button {
  color: $orange;
  font-size: 14px;
  font-weight: 100;
 }
}

.img-cert {
 width: 150px;
}

footer {
 // this makes it a "pushed footer"
   position: absolute ;
   bottom: 0 !important;
   width:100%;
   height: 30px; 
   // margin-top: 30px;
   margin-top:auto;
   background-color: $yellow-light;
   

 font-size: 10.9px;
 color: $font-black;

 hr{
  border:1.1px $yellow-light solid;
  // margin: 2px 0px;
 }

 .footer-contents {
  display: flex;
  justify-content: center;
 }

  a{
   text-decoration: none;
   color: $font-black;
   letter-spacing: -0.5px;
   border-left: 0.5px $grey-light-lowlight solid;
   padding-left: 8px;
   margin-left: 8px;

   i{
    color: $orange-darkest;
    margin-right: 4px;

    // .far{ 
    //  font-weight: bold;
    // }
   }

   &:hover {
    color: $font-black;
   }
  }


   dfn {
    // text-decoration: none;
    font-style: normal;
   }

   #leftest {
    border-left: 0px $grey-loading solid;
    margin-left: 0px;
   }



}

@media screen and (min-width: 1000px) {

 #arc-header{

  .header-right {
   //  offset-4... so it stays in the same spot when resized to full screen. (─‿‿─)
   justify-content: flex-start;
   // margin-left: 20px;
   margin-left: 17%;
  }
 }
<<<<<<< Updated upstream
=======

 // .show-n-tell {
 //  -webkit-transform: translate(100px);
 //  -ms-transform: translate(100px);
 //  transform: translate(150px);
 // }

 
>>>>>>> Stashed changes
}

// @media not all, only screen and (max-width: 991px)
//  .landscape.only {
//     display: none !important;
// }

@media screen and (max-width:670px) {


 .content-row {
  width: 100%;
  margin-left: 10px;
  // this was the footer's problem in max-w 670px mode
 }

 footer {
  a{
 padding-left: 8px;
    margin-left: 8px;
   i{
  margin-right: 4px;
   }}}
}

@media screen and (max-width:590px) {


 .content-row {
  width: 100%;
  margin-left: 0px;
  // this was the footer's problem in max-w 670px mode
 }

 footer {
  // flex-wrap: wrap;
  // width: 95%;

  // .row {
  //  margin-right: -255px;
  //  margin-left: -255px;
  // }

  a{
 padding-left: 4px;
    margin-left: 4px;
   i{
  margin-right: 0px;
   }}}
}


// @media only screen and (min-width:1200px) and (min-height:30em){.ui.widedesktop.only{display:unset!important}.ui.widedesktop.hide{display:none!important}}

// @media only screen and (max-aspect-ratio:1.2),only screen and (max-width:991px){.ui.desktop.only{display:none!important}}

// @media only screen and (max-aspect-ratio:0.7),only screen and (max-width:991px){.ui.landscape.only{display:none!important}}